body {
  background-color: white;
}
.about-section {
  max-width: 700px;
  margin: 50px auto;
  padding: 20px;
  font-family: "Montserrat", serif;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-section h1 {
  text-align: center;
  margin-bottom: 20px;
}

.about-section ul {
  margin: 20px 0;
  padding-left: 20px;
}

.about-section ul li {
  margin-bottom: 10px;
}

.about-section .cta {
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
  color: #86ff8c;
}

p {
  color: #794f42;
  font-size: 20px;
  line-height: 1.2;
}

strong {
  font-size: 23px;
  font-weight: bold;
}


.acasa {
  color: rgb(0, 38, 255);
  font-family: "Montserrat", serif;
  font-size: 20px;
}
.about_img {
  margin-left: 50px;
 
  opacity: 0; /* Inițial, imaginea este invizibilă */
  transform: translateY(-50px); /* Imaginea este împinsă în sus */
  animation: slideDown 1.5s ease-out forwards; /* Animație de coborâre lentă */

  width:auto;
  height: 950px;
}

.about_all {
  display: flex;
}
