body {
  background-color: #9c9696;
}
.about-section {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  font-family: "Montserrat", serif;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-section h1 {
  text-align: center;
  margin-bottom: 20px;

}

.about-section ul {
  margin: 20px 0;
  padding-left: 20px;
}

.about-section ul li {
  margin-bottom: 10px;
}

.about-section .cta {
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
  color: #86ff8c;
}


p {
  color: white;
  font-size: 20px;
  line-height: 1.2;
}

strong {
  font-size: 23px;
  font-weight: bold;
 
}

.heart_logo{
margin-right: -10px;
}