/* Stiluri generale */
body {
  margin: 0;
  padding: 0;
  background-color: #9c9696;
}
.servicii-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;

  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.devisa_nav {
  color: rgb(23, 23, 23);
  font-family: "Playwrite IN", serif;
}

/* Responsivitate */
@media (max-width: 768px) {
  .container {
    width: 95%;
  }

  header h1 {
    font-size: 24px;
  }

  header nav ul li {
    display: block;
    margin: 10px 0;
  }

  section {
    padding: 20px 0;
  }
}
