.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1314px;
}

 {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
}

{
  font-family: "Playwrite IN", serif;
  font-optical-sizing: auto;
}
